<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <title>Pub Finder Demo</title>
</head>
<body>
  <header>
    <img src="/images/tankard.png" width="400" height="256" alt="">
    <h1><a class="home" href="/">Pub Finder Demo</a></h1>
    <h4>Uses data copyright OpenStreetMap contributors. This is a search demo using data for places and pubs in the UK in OpenStreetMap.</h4>
    <hr>
  </header>
  <%= yield %>
</body>
</html>
