<h2>Search for place name</h2>
<ul>
  <li>*by finds places ending in '-by'</li>
  <li>*kirk* matches anything with 'kirk' in the name</li>
  <li>kirk* finds anything staring with 'kirk-'</li>
  <li>dundee will only find dundee</li>
  <li>searches are case insensitive</li>
</ul>
<form class="search" action="/find" method="get">
  <label for="pattern">Search for...</label>
  <input type="text" id="pattern" name="pattern" autofocus>
  <input type="submit" name="submit" value="Go!">
</form>
