<form class="search" action="/find" method="get">
  <label for="pattern">Pattern</label>
  <input type="text" id="pattern" name="pattern">
  <input type="submit" name="submit" value="Search">
</form>
