<div class="main">
  <div class="card">
    <h2>Search for place name</h2>
    <form class="search" action="/find" method="get">
      <label for="pattern">Place name</label>
      <input type="text" id="pattern" name="pattern" autofocus>
      <input type="submit" name="submit" value="Go!">
    </form>
  </div>
  <div class="card">
    <h2>Search for pub name</h2>
    <form class="search" action="/find_pub" method="get">
      <label for="pattern">Pub Name</label>
      <input type="text" id="pattern" name="pattern" autofocus>
      <input type="submit" name="submit" value="Go!">
    </form>
  </div>
</div>
