<h1>Search habited places</h1>
<p>e.g. *by finds places ending in 'by', '*kirk*' matches anything with 'kirk' in the name</p>
<form class="search" action="/find" method="get">
  <label for="pattern">Pattern</label>
  <input type="text" id="pattern" name="pattern">
  <input type="submit" name="submit" value="Search">
</form>
