*,*::after,*::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
}

body {
  width: 80%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
}

header {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

h1 a {
  text-decoration: none;
}

table {
  margin-top: 1rem;
}

ul {
  list-style: circle;
  padding-left: 2rem;
}

th {
  background-color: black;
  color: white;
  padding: 0 1rem;
  font-weight: bold;
  text-align: left;
}

th {
  border-radius: 8px;
}

td {
  padding: 0 1rem;
}

label, input {
  font-size: 2rem;
}

tr:nth-of-type(2n+0) {
  background-color: whitesmoke;
}

tr:nth-of-type(2n+1) {
  background-color: white;
}

input, label {
  padding: .5rem;
}

label {
  display: none;
}

input[type="text"] {
  border-radius: 1rem;
  width: 80%;
}

input[type="submit"] {
  border-radius: 1rem;
  background-color: rgb(193, 223, 198);
}

strong {
  color: red;
}

h1 {

  text-shadow: 0px 0px 12px rgba(0,0,0,.25);
  color: white;
  font-weight: bolder;
  font-size: 4rem;
  width: auto;
}

h4 {
  color: rgba(0,0,0,0.3);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  text-align: center;
}
table, header {
  margin: 0 auto;
}

.card {
  margin: 1rem;
}

input::placeholder {
  color: rgba(0,0,0,.25);
}
