*,*::after,*::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  width: 80%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: circle;
  padding-left: 2rem;
}

th {
  background-color: black;
  color: white;
  padding: 0 1rem;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0 1rem;
}

label, input {
  font-size: 2rem;
}

tr:nth-of-type(2n+0) {
  background-color: whitesmoke;
}

tr:nth-of-type(2n+1) {
  background-color: white;
}

input, label {
  margin: 1rem;
  padding: .5rem;
}

label {
  display: block;
}

input[type="text"] {
  border-radius: 1rem;
  width: 80%;
}

input[type="submit"] {
  border-radius: 1rem;
  background-color: rgb(193, 223, 198);
}
